#Qstart, #Qanalyse, #Qmissing, #Qtransform, #Pstart, #Pmissing {
  display: none;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5px;
}

#QanalyseCanonique,
#QanalyseGenerale,
#QanalyseFactorisee,
#CanonicCaseY,
#CanonicCaseX,
#CanonicCaseA,
#CanonicCaseK,
#CanonicCaseH,
#TransformFactorisee,
#TransformCanonic,
#TransformGenerale,
#Panalyse,
#PEcaseY,
#PEcaseA,
#PEcaseK {
    display: none;
}


#Qstart {
  background: #F8F7F7;
  color: #000001;
  border: 3px solid #0054CC;
  border-radius: 15px;
  width: 300px;
}
#Pstart {
  background: #F8F7F7;
  color: #000001;
  border: 3px solid #0054CC;
  border-radius: 15px;
  width: 300px;
}
#inputbp{
  font-weight: bold;
  color: #E07D13;
}
#inputC, #inputk, #inputx2f, #inputkp{
  font-weight: bold;
  color: #E013B2;
}
#inputB, #inputh, #inputx1f, #inputhp{
  font-weight: bold;
  color: #00DE65;
}
#inputA, #inputa, #inputaf, #inputap {
  font-weight: bold;
  color: #F82022;
}

.startForm {

  align-self: center;
  align-content: center;
  width: 300px;
  resize: vertical;
  font-family: Times, sans-serif;
  padding: 20px;
  background: #F8F7F7;
  color: #000001;
  border: 3px solid #CA201C;
  border-radius: 15px;
}
